<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Hyperdrive | Main page</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/flick/jquery-ui-1.10.4.custom.min.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/myjs.js" %}"></script>
</head>
<body>
    <div class="g">
        <div class="g-row">
            <div class="g-4">
            {% block sidebar %}{% endblock %}
            </div>
            <div class="g-8">
                <section id="contentPane"><!-- Content --></section>
                <section id="formPane"><!-- Form --></section>
                {% block information %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>